<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_biblioteca</property>
        <property name="hibernate.connection.username">admin01</property>
        <property name="hibernate.connection.password">admin01</property>

        <!-- Configuración del dialecto de Hibernate para MySQL 8 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Mostrar SQL en consola -->
        <!--<property name="hibernate.show_sql">true</property>-->
        <!--<property name="hibernate.format_sql">true</property>-->

        <!-- Estrategia de creación de tablas -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Mapeo de entidades -->
        <mapping class="com.academia.biblioteca.entities.Libro"/>
        <mapping class="com.academia.biblioteca.entities.Usuario"/>

    </session-factory>
</hibernate-configuration>
